---
---

@import "{{ site.theme }}";

header h1 {
    color: #55f921;
}

header {
    border-bottom: 1px solid #55f921;
}

body {
    background: #000000;
    color: #55f921;
}

a {
    color: #e7ba10;
}

h1, h2, h3, h4, h5, h6 {
    color: #e7ba10;
}

code.highlighter-rouge {
    color: #e9420f;
}

ul li {
    list-style-image: none;
    list-style-type: disclosure-closed;
}